**Homework**

**2024**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('laptops.csv')

In [3]:
## How many records in dataset

df.info()
print("There are 2160 records")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB
There are 2160 records

In [4]:
##How Many Laptop Brands

unique_brands = df['Brand'].unique()

print("There are",len(unique_brands), "brands" )

There are 27 brands

In [5]:
#How Many Columns Have Missing Values

df.info()

print("3 Columns have missing values")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB
3 Columns have missing values

In [6]:
#Max Final Price

df[df['Brand'] == 'Dell']['Final Price'].max()

print("3936 is the maximum final price of Dell Notebooks in the Dataset")

3936 is the maximum final price of Dell Notebooks in the Dataset

In [7]:
#Median Value os Screen

df['Screen'].median()
df['Screen'].mode()

df['Screen'].fillna("0")
df['Screen'].median()

print("Median hasn't changed")

Median hasn't changed

In [ ]:
Innjoo = df[df['Brand'] == 'Innjoo']
X = Innjoo[['RAM', 'Storage', 'Screen']]
XT = X.T

In [12]:
X.shape

(6, 3)

In [11]:
XT.shape

(3, 6)

In [19]:
XTX = np.dot(X, XT)
XTX

array([[ 65843.36, 131379.36,  16635.96,  16651.96,  33035.96,  33035.96],
       [131379.36, 262451.36,  33019.96,  33035.96,  65803.96,  65803.96],
       [ 16635.96,  33019.96,   4310.81,   4318.81,   8414.81,   8414.81],
       [ 16651.96,  33035.96,   4318.81,   4330.81,   8426.81,   8426.81],
       [ 33035.96,  65803.96,   8414.81,   8426.81,  16618.81,  16618.81],
       [ 33035.96,  65803.96,   8414.81,   8426.81,  16618.81,  16618.81]])

In [21]:
XTX_inv = np.linalg.inv(XTX)
XTX_inv.shape

(6, 6)

In [22]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

w = np.dot(XTX_inv, y)

In [25]:
w, w.sum()

(array([-7.94393789e+13, -2.81602814e+13, -7.32593432e+13, -2.31687558e+14,
         1.79132724e+14,  2.44860610e+14]),
 np.float64(11446772379611.125))